@inherits LayoutComponentBase

<div class="wrap">
    <div class="sidebar">
       
    </div>

    <main>
        <div>
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
